/* PrimeIcons with fixed font paths for Electron/Vite */
/* Fonts are copied to out/renderer/fonts/ by electron-vite */
/* Use relative path from CSS location - CSS is in assets/, fonts are in fonts/ */
@font-face {
    font-family: 'primeicons';
    font-display: block;
    src: url('../fonts/primeicons.eot');
    src: url('../fonts/primeicons.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/primeicons.woff2') format('woff2'), 
         url('../fonts/primeicons.woff') format('woff'), 
         url('../fonts/primeicons.ttf') format('truetype'), 
         url('../fonts/primeicons.svg?#primeicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.pi {
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
