<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8" />
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->

  <title>MU*JS</title>
  <!-- Include the style sheet style.css -->
  <script src="https://cdn.jsdelivr.net/npm/less"></script>
  <link rel="stylesheet" href="style.less" />
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div id="settings" class="container py-5">
    <div class="accordion" id="settingsAccordion">
      <!-- Connection-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="connectionHeading">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#connectCollapse" aria-expanded="true" aria-controls="connectCollapse">
            Connection
          </button>
        </h2>

        <div id="connectCollapse"class="accordion-collapse collapse show" 
        aria-labelledby="connectHeading" data-bs-parent="#settingsAccordion">
          <div class="accordion-body">
            <form @submit.prevent="saveSettings" class="row g-3">
            <!-- New row for Connect on Startup and AuthString -->
            <div class="row g-3">
              <div class="col-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="connect-on-startup" v-model="connectOnStartup">
                  <label class="form-check-label" for="connect-on-startup">
                    Connect on Startup
                  </label>
                </div>
              </div>
              <div class="col-md-8">
                <label for="auth-string" class="form-label">Send On Connect:</label>
                <input id="auth-string" type="text" v-model="authString" class="form-control" />
              </div>
            </div>
            <div class="row g-3">
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
        <!-- fonts-->
      <div class="accordion-item">
        <h2 class="accordion-header" id="fontsHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fontsCollapse" aria-expanded="false" aria-controls="fontsCollapse">
            Fonts
          </button>
        </h2>

        <div id="fontsCollapse" class="accordion-collapse collapse" 
        aria-labelledby="fontsHeading" data-bs-parent="#settingsAccordion">
          <div class="accordion-body">
            <form @submit.prevent="saveSettings" class="row g-3">
              <div class="col-md-6">
                <label for="font-family" class="form-label">Font Family:</label>
                <select id="font-family" v-model="fontFamily" class="form-select">
                  <option v-for="font in fonts" :key="font" :value="font">
                    {{ font }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="font-size" class="form-label">Font Size:</label>
                <input id="font-size" type="number" v-model="fontSize" class="form-control" />
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- timers -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="timersHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#timersCollapse" aria-expanded="false" aria-controls="timersCollapse">
            Timers
          </button>
        </h2>
        <div id="timersCollapse" class="accordion-collapse collapse" 
        aria-labelledby="timersHeading" data-bs-parent="#settingsAccordion">
          <div class="accordion-body">
            <div id="timersCollapse" class="accordion-collapse collapse" aria-labelledby="timersHeading"
              data-bs-parent="#settingsAccordion">
              <div class="accordion-body">
                <!-- start of timers -->
                <div class="mt-3">
                  <h5>Existing Timers:</h5>
                  <div v-for="(timer, key) in timers" :key="key" class="mb-2 row d-flex align-items-center">
                    <div class="col-3">
                      <label for="timer-name" class="form-label">Timer Name:</label>
                      <input id="timer-name" v-model="timer.name" class="form-control" />
                    </div>

                    <div class="col-3">
                      <label for="timer-duration" class="form-label">Interval:</label>
                      <input id="timer-duration" type="number" v-model="timer.interval" class="form-control" />
                    </div>

                    <div class="col-3">
                      <label for="timer-send" class="form-label">Send:</label>
                      <input id="timer-send" v-model="timer.send" class="form-control" />
                    </div>

                    <div class="col-3 d-flex align-items-center">
                      <button @click="saveTimer(key)" class="btn btn-primary btn-sm mr-2">Save</button>
                      <button @click="deleteTimer(key)" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                  </div>
                </div>

                <div class="mt-3">
                  <button @click="addTimer" class="btn btn-success">Add New Timer</button>
                </div>
                <!-- end of timers -->
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Misc -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingMisc">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMisc" aria-expanded="false" aria-controls="collapseMisc">
            Misc
          </button>
        </h2>
        <div id="collapseMisc" class="accordion-collapse collapse" 
        aria-labelledby="headingMisc" data-bs-parent="#settingsAccordion">
          <div class="accordion-body">
            <form @submit.prevent="updateWatchPath">
              <div class="mb-3">
                <label for="watchPath" class="form-label">Watch Path: {{ watchPath }}</label> &nbsp;
                <button type="button" class="btn btn-primary" v-on:click="updateWatchPath">Folder Select</button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="../node_modules/vue/dist/vue.global.js"></script>
    <script src="../src/render/settings/settings.js"></script>
</body>

</html>