// Dark Mode Theme Variables
@dark-bg-color: #333; // Dark background color
@dark-text-color: #fff; // Light text color for contrast
@button-hover-bg-color: #555; // Slightly lighter background color for hover state
@button-hover-text-color: #ddd; // Slightly darker text color for hover state

@font-face {
  font-family: "TNG_Title";
  src: url("https://code.deanpool.net/fonts/TNG_Title.woff2");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  // background: linear-gradient(
  //   200.96deg,
  //   #01154e -29.09%,
  //   #5796dd 51.77%,
  //   #7a2c9e 129.35%
  // );
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Full height of the viewport
  width: 100vw; // Full width of the viewport
  overflow: hidden; // Prevents content from overflowing the container
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#resizeHandle {
  height: 5px;
  cursor: ns-resize;
  background-color: #ccc;
}

#monaco-editor-toolbar {
  flex: 0 1 auto; // Adjusted to only take the space it needs without growing
  max-height: 10%; // Limits the toolbar to 10% of the container's height
  // darkmode background
  background-color: #333;
  // fontAwesome buttons should also be dark
}

#monaco-editor-moocode {
  flex: 9; // Takes up the remaining space
  // Ensures it fills 90% of the container's height
}

#SdWiqHtqa {
  min-height: 10%;
  width: 100%;
  background-color: black;
  color: white;
  flex-grow: 1;
  resize: none;
  // Removed flex-grow to allow content-based sizing
}

#AZUHz3kQsgMj {
  max-height: 90%;
  width: 100%;
  background-color: black;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  white-space: break-spaces;
  flex-shrink: 1; // Keeps this to fill remaining space
  font-family:'Consolas','Courier New', Courier, monospace; // default for console games
  padding:3px;
}

#appRoot {

  align-items: center;
  .cards-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:5em;
    margin:1em;
    opacity: 60%;  
    .card-background {
      margin: 1em;
      border-radius: 1em;
      border-left-width: 1em;
      border-left-style: solid;
      border-left-color: #2b53a7; 
      background-color: #112131; 
      width:25em;
      .card-title-bar {
        // background-colour should be a gradient
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        color:white;
        background: linear-gradient(90deg, #2b53a7  0%, #2d3338 100%);
        width: 100%;
        align-content: center;
        display: flex; /* Use flexbox for layout */

        font-weight: bold; /* Bold text */
        .card-title {          
          margin: 0; /* Remove default margin from <h5> */
          padding: 0.5rem; /* Add padding to the title */
          color: #98a39e;
          // shadow the text
          text-shadow: 2px 2px 4px #000000;
        }

      }
      .details
      {
        color:#2b53a7;
        display: flex;
        flex-direction: column;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding:.5em;
      
      }
      .card {
        display: flex;
        flex-direction: column;

      }

    }

  }
}









.card-content {
  flex-grow: 1; /* Allow the main content to take up available space, pushing the .button-row to the bottom */
  /* Add styling for your main content here */
}

.host-label {
  margin: 0;
  display: flex;
  align-items: center; /* Aligns the label text and input field */
  gap: 5px; /* Space between the label text and the input field */
  color: #545050;
  font-weight: 600; /* Modern UIs often use semi-bold or bold labels */
  font-size: 16px; /* Adjust based on your design */
}
.card-text {
  margin: 0; /* Removes default margin */
  font-size: 16px; /* Consistent font size with labels */
  color: #9f9a9a; /* Dark gray text color */
}


.button-row {
  display: flex;
  justify-content: center; // Centers the buttons in the button row
  gap: 1px; // Reduces the space between buttons for a closer appearance

  padding-top: 10px;
  padding-bottom: 5px;
}

// Button Styles
button {
  font-family: Arial, Helvetica, sans-serif;
  width: 2em;
  height: 2em;
  margin:2px;
  border-radius: .5em; /* Make them circular */
  color: @dark-text-color;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  align-content:center;
  vertical-align: middle;
  &:hover {
    background-color: @button-hover-bg-color;
    color: @button-hover-text-color;
  }

  i.fas {
    //margin-right: 5px; // Optional: Adjust if you add text to buttons
  }
  &.btn-primary {
    width:5em;
    background-color:green;
  }
  &.btn-secondary {
    background-color:#2b53a7;
  }
  &.btn-danger {
    background-color:brown;
  }
  &.btn-success {
    background-color:Yellow;
    color:#000000;
    width:5em;
  }
}

/* Example of how you might style control buttons if you add them */
.control-buttons {
  display: flex;
  gap: 8px; /* Space between buttons */
}

.control-button {
  width: 12px;
  height: 12px;
  border-radius: 1em; /* Make them circular */
  background-color: #fff; /* White background */
}

.fa-check-square,
.fa-square {
  cursor: pointer;
}
.checkbox-hidden {
  display: none;
}
.checkbox-hidden + label .fa-square {
  display: inline-block;
}
.checkbox-hidden:checked + label .fa-square {
  display: none;
}
.checkbox-hidden + label .fa-check-square {
  display: none;
}
.checkbox-hidden:checked + label .fa-check-square {
  display: inline-block;
}
.addSite-button {
  // position it in the bottom right of the screen
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.connection-manager-title {

  font-family: "TNG_title"; /* Soft, modern font */
  color: #2b53a7; /* Soft, dark gray color */
  font-size: 48px; /* Large font size */
  text-align: center; /* Center-aligns the text */
  padding: 20px 0; /* Adds more padding above and below the text */
  border-radius: 10px; /* Slightly rounded corners for a modern look */
  margin: 20px auto; /* Centers the title block with auto margins */
  width: fit-content; /* Ensures the background only covers the text */
  padding: 10px 20px; /* Adequate padding around the text */
}


/* The Modal (background) */
.edit-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.edit-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}